@{
    ViewData["Title"] = "About the Site";
    Layout = "_ClassyLayout";
  
}

<!-- ***** Breadcumb Area Start ***** -->
<section class="breadcumb_area background-overlay section_padding_50" style="background-image: url(@Url.Content("~/images/breadcumb.jpg"));">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcumb_section">
                    <!-- Breadcumb Page Title -->
                    <div class="page_title">
                        <h4>About The Site</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Breadcumb Area End ***** -->
<!-- >>>>>>>>>>>>>>>> About Us Area Start <<<<<<<<<<<<<<<< -->
<section class="about_area creative_version dark section_padding_50" id="about">
   
@*<section class="about_area section_padding_100_70" id="about">*@
    <div class="container">
        <div class="about_us_area">
            <div class="row">
                <!-- About Us Area -->
                <div class="col-12 col-lg-6">
                    <!-- About Us Text Start -->
                    <div class="about_us_text">
                        <h3>About the Site.</h3>
                        <p>This ASP.NET Core MVC and Razor Pages was written by Jonathan Duncan in C#.  A responsive Bootstrap 4 theme was applied to make it shine.</p>
                        <p>It was developped using the Clean Architecture.</p>
                        <a href="#" class="btn btn-pill btn-success">Learn More <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="about_us_one m-xs-top-50 m-md-top-50">
                        <img src="img/bg-img/about-us-6.jpg" alt="">
                    </div>
                </div>
            </div>

      
        </div>
    </div>
</section>
<!-- >>>>>>>>>>>>>>>> About Us Area End <<<<<<<<<<<<<<<< -->

<!-- >>>>>>>>>>>>>>>> Our Advisor Area Start <<<<<<<<<<<<<<<< -->
<section class="our_advisor_area clearfix creative_version dark " id="advisor">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading Start -->
                <div class="section_heading">
                    <p>Created by</p>
                    <h3>Jonathan Duncan</h3>
                </div>
            </div>
        </div>

        <!-- Team Member 1 Area Start -->
        <div class="classy-team-member team-1">
            <div class="row">
                
                <!-- Single Team Member -->
                <div class="col-12 offset-md-6 col-md-6 offset-lg-4 col-lg-4">
                    <div class="single-team-member p-30 bg-gray m-bottom-30">
                        <div class="team-thumb-meta m-bottom-15">
                            <img src="@Url.Content("~/images/Jonathan.jpg")" alt="Jonathan Duncan">
                            <p class="d-flex align-items-center">Jonathan Duncan is a Senior Full-stack .NET Developer. His quality work is loved by his clients.</p>
                        </div>
                        <div class="team-name-social-info d-flex align-items-center">
                            <div class="team-name w-50">
                                <h5>Jonathan Duncan</h5>
                                <p>Senior Full-stack .NET Developer</p>
                            </div>
                            <div class="team-social-info w-50">
                                <a href="#" class="csi csi-circle csi-sm csi-twitter-active"><i class="ion-social-twitter-outline" aria-hidden="true"></i></a>
                                <a href="#" class="csi csi-circle csi-sm csi-facebook-active"><i class="ion-social-facebook-outline" aria-hidden="true"></i></a>
                                <a href="#" class="csi csi-circle csi-sm csi-google-plus-active"><i class="ion-social-googleplus-outline" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div> 
                
            </div>
        </div>
    </div>
</section>
<!-- >>>>>>>>>>>>>>>> Our advisor Area End <<<<<<<<<<<<<<<< -->
