@{
    ViewData["Title"] = "Home";
    Layout = "_ClassyLayout";
    var profileLink = "https://www.upwork.com/o/profiles/users/_~015c11075498b5d53e/";
    var backEndLink = "https://www.upwork.com/o/profiles/users/_~015c11075498b5d53e/?s=1110580748673863680";
    var frontEndLink = "https://www.upwork.com/o/profiles/users/_~015c11075498b5d53e/?s=1110580755057594368";
}

    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome_area creative_version" id="home">
        <div class="content">
            <div id="rev_slider_1061_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="creative-freedom" data-source="gallery" style="background-color:#1f1d24;padding:0px;">
                <!-- START REVOLUTION SLIDER 5.4.1 fullscreen mode -->
                <div id="rev_slider_1061_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.1">
                    <ul>
                        <!-- SLIDE  -->
                        <li data-index="rs-2978" data-transition="fadethroughdark" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="2000" data-thumb="images/white-keyboard.png" data-rotate="0" data-saveperformance="off" data-title="Freelancer" data-param1="01" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

                            <!-- MAIN IMAGE -->
                            <img src="images/white-keyboard.png" alt="" data-bgposition="center center" data-bgfit="cover" data-bgparallax="3" class="rev-slidebg" data-no-retina>
                            <!-- BACKGROUND VIDEO LAYER -->
                            <div class="rs-background-video-layer" data-forcerewind="on" data-volume="mute" data-videowidth="100%" data-videoheight="100%" data-videomp4="videos/White-Keyboard.mp4" data-videopreload="auto" data-videoloop="loop" data-aspectratio="16:9" data-autoplay="true" data-autoplayonlyfirsttime="false"></div>

                            <!-- LAYERS -->
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption tp-shape tp-shapewrapper  rs-parallaxlevel-tobggroup" id="slide-2978-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-fontweight="['100','100','400','400']" data-width="full" data-height="full" data-whitespace="nowrap" data-type="shape" data-basealign="slide" data-responsive_offset="off" data-responsive="off" data-frames='[{"from":"opacity:0;","speed":1500,"to":"o:1;","delay":150,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power2.easeInOut"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5;text-transform:left;background-color:rgba(18, 12, 20, 0.75);border-color:rgba(0, 0, 0, 0);border-width:0px;"> </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption tp-shape tp-shapewrapper  rs-parallaxlevel-3" id="slide-2978-layer-4" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-178','-178','-168','-141']" data-width="1" data-height="100" data-whitespace="nowrap" data-type="shape" data-responsive_offset="on" data-responsive="off" data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power1.easeIn"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6;text-transform:left;background-color:rgba(205, 176, 131, 1.00);border-color:rgba(0, 0, 0, 0);border-width:0px;"> </div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption Creative-SubTitle   tp-resizeme rs-parallaxlevel-2" id="slide-2978-layer-3" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-91','-91','-81','-64']" data-fontsize="['14','14','14','12']" data-lineheight="['14','14','14','12']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":2350,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7; white-space: nowrap;text-transform:left; font-family: Open Sans;">Freelancer</div>

                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption Creative-Title   tp-resizeme rs-parallaxlevel-1" id="slide-2978-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-10','-10','-10','-10']" data-fontsize="['70','70','50','40']" data-lineheight="['70','70','55','45']" data-width="['none','none','none','320']" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":2550,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 8; white-space: nowrap;text-transform:left; font-family: Open Sans; ">Senior Full-stack .NET Developer</div>

                            <!-- LAYER NR. 5 -->
                            <div class="tp-caption tp-shape tp-shapewrapper  rs-parallaxlevel-3" id="slide-2978-layer-5" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['137','137','119','100']" data-width="1" data-height="100" data-whitespace="nowrap" data-type="shape" data-responsive_offset="on" data-responsive="off" data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2900,"ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"to":"y:[-100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power1.easeIn"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 9;text-transform:left;background-color:rgba(205, 176, 131, 1.00);border-color:rgba(0, 0, 0, 0);border-width:0px;"> </div>

                            <!-- LAYER NR. 6 -->
                            <div class="tp-caption Creative-Button rev-btn  rs-parallaxlevel-15" id="slide-2978-layer-6" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['694','611','689','540']" data-fontweight="['400','500','500','500']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="button" data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]' data-responsive_offset="on" data-responsive="off" data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":3850,"ease":"Power2.easeOut"},{"delay":"wait","speed":500,"to":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.75;sY:0.75;skX:0;skY:0;opacity:0;","ease":"Power1.easeIn"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(205, 176, 131, 1.00);bc:rgba(205, 176, 131, 1.00);bw:1px 1px 1px 1px;"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[15,15,15,15]" data-paddingright="[50,50,50,50]" data-paddingbottom="[15,15,15,15]" data-paddingleft="[50,50,50,50]" style="z-index: 10; white-space: nowrap;text-transform:left;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer; font-family: Open Sans;">Next</div>
                        </li>
                        <!-- SLIDE  -->
                        <li data-index="rs-2979" data-transition="fadethroughdark" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="2000" data-thumb="assets/images/creative_bg1-100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="Quality Code" data-param1="02" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="images/hello-world.png" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="3" class="rev-slidebg" data-no-retina>
                            <!-- BACKGROUND VIDEO LAYER -->
                            <div class="rs-background-video-layer" data-forcerewind="on" data-volume="mute" data-videowidth="100%" data-videoheight="100%" data-videomp4="videos/Hello-World.mp4" data-videopreload="auto" data-videoloop="loop" data-aspectratio="16:9" data-autoplay="true" data-autoplayonlyfirsttime="false"></div>
                            <!-- LAYERS -->
                            <!-- LAYER NR. 7 -->
                            <div class="tp-caption tp-shape tp-shapewrapper  rs-parallaxlevel-tobggroup" id="slide-2979-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="nowrap" data-type="shape" data-basealign="slide" data-responsive_offset="off" data-responsive="off" data-frames='[{"from":"opacity:0;","speed":1500,"to":"o:1;","delay":150,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power2.easeInOut"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 11;text-transform:left;background-color:rgba(18, 12, 20, 0.75);border-color:rgba(0, 0, 0, 0);border-width:0px;"> </div>

                            <!-- LAYER NR. 8 -->
                            <div class="tp-caption tp-shape tp-shapewrapper  rs-parallaxlevel-3" id="slide-2979-layer-4" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-178','-178','-168','-141']" data-width="1" data-height="100" data-whitespace="nowrap" data-type="shape" data-responsive_offset="on" data-responsive="off" data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power1.easeIn"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 12;text-transform:left;background-color:rgba(205, 176, 131, 1.00);border-color:rgba(0, 0, 0, 0);border-width:0px;"> </div>

                            <!-- LAYER NR. 9 -->
                            <div class="tp-caption Creative-SubTitle   tp-resizeme rs-parallaxlevel-2" id="slide-2979-layer-3" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-91','-91','-81','-64']" data-fontsize="['14','14','14','12']" data-lineheight="['14','14','14','12']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":2350,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 13; white-space: nowrap;text-transform:left; font-family: Open Sans;">Great quality work</div>

                            <!-- LAYER NR. 10 -->
                            <div class="tp-caption Creative-Title   tp-resizeme rs-parallaxlevel-1" id="slide-2979-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-10','-10','-10','-10']" data-fontsize="['70','70','50','40']" data-lineheight="['70','70','55','45']" data-width="['none','none','none','320']" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":2550,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 14; white-space: nowrap;text-transform:left; font-family: Open Sans;">Clean Maintainable Code</div>

                            <!-- LAYER NR. 11 -->
                            <div class="tp-caption tp-shape tp-shapewrapper  rs-parallaxlevel-3" id="slide-2979-layer-5" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['137','137','119','100']" data-width="1" data-height="100" data-whitespace="nowrap" data-type="shape" data-responsive_offset="on" data-responsive="off" data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2900,"ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"to":"y:[-100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power1.easeIn"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 15;text-transform:left;background-color:rgba(205, 176, 131, 1.00);border-color:rgba(0, 0, 0, 0);border-width:0px;"> </div>

                            <!-- LAYER NR. 12 -->
                            <div class="tp-caption Creative-Button rev-btn  rs-parallaxlevel-15" id="slide-2980-layer-6" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['694','611','689','540']" data-fontweight="['400','500','500','500']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="button" data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]' data-responsive_offset="on" data-responsive="off" data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":3850,"ease":"Power2.easeOut"},{"delay":"wait","speed":500,"to":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.75;sY:0.75;skX:0;skY:0;opacity:0;","ease":"Power1.easeIn"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(205, 176, 131, 1.00);bc:rgba(205, 176, 131, 1.00);bw:1px 1px 1px 1px;"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[15,15,15,15]" data-paddingright="[50,50,50,50]" data-paddingbottom="[15,15,15,15]" data-paddingleft="[50,50,50,50]" style="z-index: 22; white-space: nowrap;text-transform:left;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer; font-family: Open Sans;">Previous</div>
                        </li>
                    </ul>
                    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- >>>>>>>>>>>>>>>> Welcome Area End <<<<<<<<<<<<<<<< -->
    <!-- >>>>>>>>>>>>>>>> About Us Area Start <<<<<<<<<<<<<<<< -->
    <section class="about_area creative_version dark section_padding_100" id="about">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <!-- Single Feature Area Start -->
                    <div class="single_feature wow fadeInUp" data-wow-delay="0.3s">
                        <div class="feature_img">
                            <i class="pe-7s-paint" aria-hidden="true"></i>
                        </div>
                        <!-- Single Feature Image Area End -->
                        <div class="feature_text">
                            <h4>Clean responsive UI/UX</h4>
                        </div>
                        <!-- Single Feature Text Area End -->
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <!-- Single Feature Area Start -->
                    <div class="single_feature wow fadeInUp" data-wow-delay="0.6s">
                        <div class="feature_img">
                            <i class="ion-model-s" aria-hidden="true"></i>
                        </div>
                        <!-- Single Feature Image Area End -->
                        <div class="feature_text">
                            <h4>Great performance</h4>
                        </div>
                        <!-- Single Feature Text Area End -->
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <!-- Single Feature Area Start -->
                    <div class="single_feature wow fadeInUp" data-wow-delay="0.9s">
                        <div class="feature_img">
                            <i class="pe-7s-tools" aria-hidden="true"></i>
                        </div>
                        <!-- Single Feature Image Area End -->
                        <div class="feature_text">
                            <h4>Robust and Maintainable code</h4>
                        </div>
                        <!-- Single Feature Text Area End -->
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="about_us_area">
                <div class="row">
                    <!-- About Us Area -->
                    <div class="col-12 col-lg-6">
                        <!-- About Us Text Start -->
                        <div class="about_us_text wow fadeInUp" data-wow-delay="0.5s">
                            <h3 class="m-bottom-15">I am a top rated freelancer on UpWork. Any programming you need for you website or .NET application, I can do it well.</h3>
                            <p>I have many satisfied clients which shows the quality of my programming frelancing skills</p>
                            <a href="@profileLink" target="_blank" class="btn btn-pill btn-success">View Profile</a>
                            <a href="https://www.upwork.com/signup/create-account/client_contact_freelancer?ciphertext=~~12a3d9ad6d21cdcc&BYOC" target="_blank" class="btn btn-pill btn-success">Hire Me</a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="about_us_image m-xs-top-50 m-md-top-30 wow fadeInUp" data-wow-delay="1s">
                            <img src="~/images/About me.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Awesome Feature Area End ***** -->
    <!-- ***** Our Speciality Area Start ***** -->
    <section class="our_speciality_area creative_version dark">
        <div class="container">
            <div class="row">
                <!-- Single Speciality Area Start -->
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="single_speciality">
                        <div class="single_speciality_icon">
                            <i class="fa fa-code" aria-hidden="true"></i>
                        </div>
                        <div class="single_speciality_text">
                            <h5>Latest Bootstrap</h5>
                            
                        </div>
                    </div>
                </div>
                <!-- Single Speciality Area Start -->
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="single_speciality">
                        <div class="single_speciality_icon">
                            <i class="fa fa-css3" aria-hidden="true"></i>
                        </div>
                        <div class="single_speciality_text">
                            <h5>Valid HTML5/CSS3</h5>
                            
                        </div>
                    </div>
                </div>
                <!-- Single Speciality Area Start -->
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="single_speciality">
                        <div class="single_speciality_icon">
                            <i class="fa fa-th-large" aria-hidden="true"></i>
                        </div>
                        <div class="single_speciality_text">
                            <h5>Follow best practices</h5>
                            
                        </div>
                    </div>
                </div>
                <!-- Single Speciality Area Start -->
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="single_speciality">
                        <div class="single_speciality_icon">
                            <i class="fa fa-firefox" aria-hidden="true"></i>
                        </div>
                        <div class="single_speciality_text">
                            <h5>All Browser Compatibility</h5>
                            
                        </div>
                    </div>
                </div>
                <!-- Single Speciality Area Start -->
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="single_speciality">
                        <div class="single_speciality_icon">
                            <i class="fa fa-plug" aria-hidden="true"></i>
                        </div>
                        <div class="single_speciality_text">
                            <h5>Extendable</h5>
                            
                        </div>
                    </div>
                </div>
                <!-- Single Speciality Area Start -->
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="single_speciality">
                        <div class="single_speciality_icon">
                            <i class="fa fa-spinner" aria-hidden="true"></i>
                        </div>
                        <div class="single_speciality_text">
                            <h5>Maintainable</h5>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- >>>>>>>>>>>>>>>> Our Speciality Area End <<<<<<<<<<<<<<<< -->
    <!-- >>>>>>>>>>>>>>>> Our Services Area Start <<<<<<<<<<<<<<<< -->
    <section class="what_we_do_area creative_version dark section_padding_0_70" id="service">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading Start -->
                    <div class="section_heading">
                        <p>My Best Service</p>
                        <h4 class="text-white">What I offer</h4>
                    </div>
                </div>
            </div>

            <div class="row">

                <!-- Single Service Area Start -->
                <div class="col-md-6 col-lg-4">
                    <div class="single_service text-center">
                        <!-- Single Service image -->
                        <div class="single_service_img">
                            <img src="~/images/apple-desk-internet-209151.jpg" alt="">
                        </div>
                        <!-- Single Service content -->
                        <div class="single_service_desc">
                            <h5>Websites</h5>
                            <div class="services_text">
                                <div class="items">
                                    <ul>
                                        <li>.Core MVC</li>
                                        <li>ASP.NET MVC 5</li>
                                        <li>.NET Web API</li>
                                        <li>Angular 2+</li>
                                    </ul>
                                </div>
                                <div class="items">
                                    <ul>
                                        <li>HTML5</li>
                                        <li>CSS3 / SCSS</li>
                                        <li>Bootstrap</li>
                                        <li>JavaScript</li>
                                        <li>Typescript</li>
                                        <li>ELM</li>
                                    </ul>
                                </div>
                            </div>
                            <a target="_blank" href="@frontEndLink" class="btn btn-pill btn-sm btn-primary">Discover More</a>
                        </div>
                    </div>
                </div>

                <!-- Single Service Area Start -->
                <div class="col-md-6 col-lg-4">
                    <div class="single_service text-center">
                        <!-- Single Service image -->
                        <div class="single_service_img">
                            <img src="~/images/analogue-blur-business-159282.jpg" alt="">
                        </div>
                        <!-- Single Service content -->
                        <div class="single_service_desc">
                            <h5>Database</h5>
                            <div class="services_text">
                                <p>
                                    Microsoft SQL server MSSQL Database driven website. Relational design and queries.
                                    Entity Framework, LINQ, LocalForage
                                </p>
                            </div>
                            <a target="_blank" href="@backEndLink" class="btn btn-pill btn-sm btn-primary">Discover More</a>
                        </div>
                           
                        </div>
                </div>

                <!-- Single Service Area Start -->
                <div class="col-md-6 col-lg-4">
                    <div class="single_service text-center">
                        <!-- Single Service image -->
                        <div class="single_service_img">
                            <img src="~/images/brunette-computer-computer-keyboard-2084974.jpg" alt="">
                        </div>
                        <!-- Single Service content -->
                        <div class="single_service_desc">
                            <h5>Desktop</h5>
                            <div class="services_text">
                                <p>Windows desktop apps, WebForms, WPF</p>
                            </div>
                            <a target="_blank" href="@profileLink" class="btn btn-pill btn-sm btn-primary">Discover More</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- >>>>>>>>>>>>>>>> Our Services Area End <<<<<<<<<<<<<<<< -->
    <!-- >>>>>>>>>>>>>>>> Project area start <<<<<<<<<<<<<<<< -->
    @*<section class="creative_version gallery_area creative_gallery_slider dark clearfix" id="work">

        <!-- Single gallery Item Start -->
        <div class="single_gallery_item app">
            <img src="~/classy/img/gallery/26.jpg" alt="">
            <!-- Single gallery Item hover caption -->
            <div class="hover_overlay">
                <div class="classy-table">
                    <div class="classy-table-cell">
                        <div class="more_details text-center">
                            <a class="gallery_img text-white" href="~/classy/img/gallery/26.jpg"><i class="pe-7s-search"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single gallery Item Start -->
        <div class="single_gallery_item art">
            <img src="~/classy/img/gallery/27.jpg" alt="">
            <!-- Single gallery Item hover caption -->
            <div class="hover_overlay">
                <div class="classy-table">
                    <div class="classy-table-cell">
                        <div class="more_details text-center">
                            <a class="gallery_img text-white" href="~/classy/img/gallery/27.jpg"><i class="pe-7s-search"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single gallery Item Start -->
        <div class="single_gallery_item bra">
            <img src="~/classy/img/gallery/28.jpg" alt="">
            <!-- Single gallery Item hover caption -->
            <div class="hover_overlay">
                <div class="classy-table">
                    <div class="classy-table-cell">
                        <div class="more_details text-center">
                            <a class="gallery_img text-white" href="~/classy/img/gallery/28.jpg"><i class="pe-7s-search"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single gallery Item Start -->
        <div class="single_gallery_item art">
            <img src="~/classy/img/gallery/29.jpg" alt="">
            <!-- Single gallery Item hover caption -->
            <div class="hover_overlay">
                <div class="classy-table">
                    <div class="classy-table-cell">
                        <div class="more_details text-center">
                            <a class="gallery_img text-white" href="~/classy/img/gallery/29.jpg"><i class="pe-7s-search"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>*@
    <!-- >>>>>>>>>>>>>>>> Project area end <<<<<<<<<<<<<<<< -->
    <!-- >>>>>>>>>>>>>>>> Cool Facts Area Start <<<<<<<<<<<<<<<< -->
    <section class="creative_version cool_facts_area section_padding_50_20">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3">
                    <!-- Single Cool Facts area Start -->
                    <div class="cool_fact_text">
                        <h3><span class="counter">25</span>+</h3>
                        <h5>Years of experience programming</h5>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <!-- Single Cool Facts area Start -->
                    <div class="cool_fact_text">
                        <h3><span class="counter">13</span>+</h3>
                        <h5>Years of experience programming .NET</h5>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <!-- Single Cool Facts area Start -->
                    <div class="cool_fact_text">
                        <h3><span class="counter">8</span>+</h3>
                        <h5>Years of experience freelancing on UpWork</h5>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <!-- Single Cool Facts area Start -->
                    <div class="cool_fact_text">
                        <h3><span class="counter">25</span>+</h3>
                        <h5>Happy clients</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- >>>>>>>>>>>>>>>> Cool Facts Area End <<<<<<<<<<<<<<<< -->
    