
#service .single_service_desc {
    min-height: 260px;
    background-color: aliceblue;
    border-radius: 10px;
    position:relative;
    top: -50px;
}  

#service .services_text {
    min-height: 155px;
}
#service .single_service_desc .items {
    justify-content:center;
    float:left;
    width:50%;
}

#service .single_service_img img {
    height: 262px;
}


#service .section_heading p {
    color:aliceblue;
}

.creative_version.our_speciality_area {
    padding-bottom: 80px;
}

.foo_top_header_one section_padding_30_10 {
    padding-top: 30px;
    padding-bottom: 10px;
}
