
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="description" content=""/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title  -->
    <title>@ViewData["Title"] - Jonathan Duncan's website</title>
    <!-- Favicon  -->
    <link rel="shortcut icon" href="@Url.Content("~/jonathanduncan.ico")"/>

    <!-- Switch Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" />
    <!--css/fonts/opensans.css included in site.css -->
    
    <environment names="Development">
        <link rel="stylesheet" href="/css/bundle.css" asp-append-version="true"/>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="/css/bundle.css" asp-append-version="true"/>
    </environment>

</head>

<body>

    <!-- Preloader Start -->
    <div id="preloader">
        <div class="classy-load"></div>
    </div>

    <partial name="_ClassyHeader" />

    @RenderBody()

    <partial name="_ClassyFooter" />


    <script src="~/js/bundle.js"></script>
</body>

</html>
