
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title  -->
    <title>@ViewData["Title"] - Jonathan Duncan's website</title>
    <!-- Favicon  -->
    <link rel="shortcut icon" href="jonathanduncan.ico">

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <!-- REVOLUTION STYLE SHEETS -->
        <link rel="stylesheet" type="text/css" href="classy/revolution/css/settings.css">
        <link rel="stylesheet" type="text/css" href="classy/revolution/css/layers.css">
        <link rel="stylesheet" type="text/css" href="classy/revolution/css/navigation.css">

        <!-- Core Style CSS -->
        <link rel="stylesheet" href="classy/css/core-style.css">
        <link rel="stylesheet" href="classy/css/style.css">

        <!-- Responsive css -->
        <link href="classy/css/responsive/responsive.css" rel="stylesheet">

        <!-- Switch Fonts -->
        <link href="classy/css/fonts/opensans.css" rel="stylesheet">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <!-- REVOLUTION STYLE SHEETS -->
        <link rel="stylesheet" type="text/css" href="classy/revolution/css/settings.css" asp-append-version="true">
        <link rel="stylesheet" type="text/css" href="classy/revolution/css/layers.css" asp-append-version="true">
        <link rel="stylesheet" type="text/css" href="classy/revolution/css/navigation.css" asp-append-version="true">

        <!-- Core Style CSS -->
        <link rel="stylesheet" href="classy/css/core-style.css" asp-append-version="true">
        <link rel="stylesheet" href="classy/css/style.css" asp-append-version="true">

        <!-- Responsive css -->
        <link href="classy/css/responsive/responsive.css" rel="stylesheet" asp-append-version="true">

        <!-- Switch Fonts -->
        <link href="classy/css/fonts/opensans.css" rel="stylesheet" asp-append-version="true">
    </environment>
</head>

<body>

    <!-- Preloader Start -->
    <div id="preloader">
        <div class="classy-load"></div>
    </div>

    <partial name="_ClassyHeader" />

    @RenderBody()

    <partial name="_ClassyFooter" />
  
    <!-- jQuery (necessary for all JavaScript plugins) -->
    <script src="lib/jquery/jquery.min.js"></script>

    <!-- REVOLUTION JS FILES -->
    <script type="text/javascript" src="classy/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="classy/revolution/js/jquery.themepunch.revolution.min.js"></script>

    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script type="text/javascript" src="classy/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="classy/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="classy/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="classy/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="classy/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="classy/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="classy/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="classy/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="classy/revolution/js/extensions/revolution.extension.video.min.js"></script>

    <!-- Popper js -->
    <script src="classy/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="classy/js/bootstrap/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="classy/js/include-all-plugins.js"></script>
    <!-- Active js -->
    <script src="classy/js/active.js"></script>
    <!-- Active js -->
    <script src="classy/js/revolution-slider-active/creative-slider-active.js"></script>

</body>

</html>
